*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.includeAll{
    overflow-y: hidden;
    background-color:bisque;
}
/* The Introduction section */
.wrapper {
   
    
    background-color:bisque;
    display:flex;
     align-items: center; 
    justify-content: center;

}
.header {
    display:flex;
    align-items: center;
    background-color:bisque;
}
.header img {
    
    /* border-radius: 10px 10px 10px 10px; */
    padding-top: 20px;
    width: 200px;
    height: 200px;
    margin-left:10px;
    object-fit: cover;
} 
    /*WHich city section  */
    .middle-wrapper {
        
        margin-bottom: 20px;
        background-color:bisque;
        color: black;
        margin-left: auto;
        margin-right: auto;
        /* color-interpolation-filters: initial; */
    }

h2{background-color: bisque;
 font-style: italic;
 
}
h2, h3{
    text-align: center; 
}

.middle { 
    background-color:bisque;
    display: flex;
    /* align-items: center; */
    justify-content:center;
}


.middle img {
    margin-right: 10px;
    border-radius: 10px 10px 10px 10px;
     Width: 300px;
     height: 200px;
     object-fit: cover;
     
}
.sub-description {
    display: flex;  
    margin-top: 20px;
}
 

h1,h3{
        font-style: italic;
    }

.main {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color:bisque;
}
h3{
    margin-bottom: 20px;
}

.para {
    display: flex; 
    align-items: center;
    justify-items: center ;
    margin-top: 10px; 
   
}
table {
    margin-left: 14em;

}
table, th,td {
    
    margin-top: 10px;
    border: 1px solid black; 
    border-collapse: collapse;
    text-align: center;
    padding-left: 30px;
    
}
td{
    font-style: oblique;
}
p{
    font-style: oblique;
}
th, td {
    padding: 10px;
}
th{
    background-color:burlywood;
    font-style: italic;
}
colgroup{
    width:250px;
}
.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: bisque;
    /* margin-top: 20px; */
    padding-top: 20px;
    width: 100%;
}

.super-contents {
    font-style: oblique;
     margin-bottom: 20px; 
     display: flex;
     justify-content: space-between;
     background-color:bisque;
    

}


.sub-paragraph1 {
    margin-left: 10px;
}
.sub-paragraph2 {
margin-left: 10px;
}
.sub-paragraph3 {
  margin-left: 10px;    
}
 .content1 {
     
     background-color:whitesmoke;
     position: relative;
     border-radius: 50% / 6%;
     text-align: center;
     text-indent: .1em;
    
}

  .content2 {
      margin-left: 10px;
    background-color:floralwhite;
    position: relative;
    border-radius: 50% / 6%;
    text-align: center;
    text-indent: .1em; 

}  
.content3 {
    margin-left: 10px;
    background-color:beige;
    position: relative;
    border-radius: 50% / 6%;
    text-align: center;
    text-indent: .1em; 
}   
.content1 img {
    border-radius: 50% / 12%;
    display: flex;
    width: 160px;
    height: 160px;
}
.content2 img {
    border-radius: 50% / 12%;
    display: flex;
    width: 160px;
    height: 160px;
    }


.content3 img {
    border-radius: 50% / 12%;
    display: flex;
    width: 160px;
    height: 160px;
}
.footer {
    color:rgb(153, 241, 70);
    background-color:plum;
}
.mini-headers {
    display: block;
    float:right;
}
h4 {
    color: rgb(134, 106, 70);
    font-size: 16px;
    margin-bottom: 20px;
  
}

.all-body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color:bisque;
    margin-top: 40px;
}


/* Media Quiry for mobiles */
@media (max-width: 700px){ 
    
    
    .super-contents {
        flex-direction: column;
    } 
    .sub-description {
        flex-direction: column;
      text-align: center;
    } 
.header{
    margin-left: 10px;
    margin-right: auto;
    width: 0px;
    align-items: center;
    justify-items: center;

}

     h1{
         display: flex;
         font-size: medium;
         align-content: center;
     }
    .img {
    
        border-radius: 10px 10px 10px 10px;
        width: 50px;
         } 
     table{
        margin-left: 0px;
    }
    .content1{
        margin-bottom: 10px;
    }
    .content2 {
        margin-bottom: 10px;
    }
     
}